# Copie para .env e preencha somente com os valores entregues pelo portal do workshop.
# Nunca inclua credenciais AWS neste repositório.
AWS_REGION=us-east-1
WORKSHOP_PREFIX=ufabc-2026-XX-east
WORKSHOP_SLOT=XX-east
BEDROCK_MODEL_ID=COLE_O_MODELO_APROVADO
KB_EXECUTION_ROLE_ARN=arn:aws:iam::ACCOUNT_ID:role/UFABCKBExecution-XX-east
HARNESS_EXECUTION_ROLE_ARN=arn:aws:iam::ACCOUNT_ID:role/UFABCHarnessExecution-XX-east
LAMBDA_EXECUTION_ROLE_ARN=arn:aws:iam::ACCOUNT_ID:role/UFABCLambdaExecution-XX-east
